# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Tests / cache
.pytest_cache/
.mypy_cache/
.cache/

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/

# Local game saves (do not commit)
assets/config/save.json

# Generated maps
assets/map/_generated*.tmx
